{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/5312aac142.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body class="">
    <nav>
        <div>
            <div class="">
                <h1 class="text-center text-4xl font-extrabold py-2 top-0 sticky">CureClick</h1>
                <div class="flex p-3 bg-cyan-100 w-3/5 mx-auto rounded-xl bg-opacity-70">
                    <ul class="flex justify-between mx-auto space-x-32 font-semibold">
                        <li><a href="">Services</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href=""><i class="fa-solid fa-file-waveform"></i></a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Register</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>